.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.package-table{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

table {
  margin-bottom: 20px;
  border: 1px solid black;
}

tr {
  border: 1px solid black;
}